# Entornos virtuales
env/
venv/
.venv/
antenv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local
db.sqlite3
*.db

# Archivos media (uploads)
media/

# Archivos de IDE
.vscode/
.idea/

# Archivos temporales
*.log

# Carpetas internas
.ai/

# Variables de entorno
.env
*.env

# Archivos estáticos compilados
staticfiles/
static_root/