{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="height: 70vh;">
    <div class="col-md-4">
        <h2 class="text-center mb-4">Inicia Sesión</h2>
        <form method="post" class="shadow p-4 rounded">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Usuario</label>
                <input class="form-control" type="text" name="username" id="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-dark w-100">Iniciar sesión</button>
            <div class="text-center mt-3">
                <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
        <div class="text-center mt-4">
            <p>¿No tienes una cuenta?</p>
            <a href="{% url 'registro' %}" class="btn btn-outline-primary w-100">Registrarse</a>
        </div>
    </div>
</div>
{% endblock %}
