
{% extends 'base.html' %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="height: 70vh;">
    <div class="col-md-4">
        <h2 class="text-center mb-4">Recuperar Contraseña</h2>
        <form method="post" class="shadow p-4 rounded">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input class="form-control" type="email" name="email" id="email" required>
            </div>
            <button type="submit" class="btn btn-dark w-100">Enviar enlace de recuperación</button>
            <div class="text-center mt-3">
                <a href="{% url 'login' %}">Volver al inicio de sesión</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}