.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}