        /* Contenedor principal */
        .hero-section {
            position: relative;
            text-align: center;
            color: white;
            width: 100%; /* Ajustar al 100% del ancho del contenedor */
            height: 550px; /* Altura fija */
            overflow: hidden; /* Ocultar cualquier contenido desbordado */
        }

        /* Estilo de la imagen */
        .hero-section img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%; /* Mantener siempre la altura completa del contenedor */
            transform: translate(-50%, -50%); /* Centrar la imagen */
            opacity: 60%;
        }

        /* Estilo del texto */
        .hero-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3em;
            font-weight: bold;
            color: #000;
        }