.producto-imagen {
    max-width: 100%;          /* No excederá el ancho del contenedor */
    max-height: 200px;        /* Limitará la altura para evitar el estiramiento */
    width: auto;              /* Mantiene el ancho proporcional */
    height: auto;             /* Mantiene la altura proporcional */
    object-fit: contain;      /* Asegura que la imagen se ajuste sin estirarse */
    display: block;           /* Centra la imagen dentro del contenedor */
    margin: 0 auto;           /* Centrado horizontal */
}




.navbar-red {
    background: linear-gradient(#ff0000, #830000);

}

.navbar-red a {
    color: white;
    text-decoration: none;
}

.navbar-red a:hover {
    color: #949494;
}

.search-bar {
    width: 100%;
    max-width: 400px;
    position: relative;
}

.search-bar input {
    padding-right: 40px;
}

.search-bar i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
}

.fa-magnifying-glass {
    font-size: 1.2rem;
}

.input-group .form-control {
    border-right: 0;
}

.input-group-text {
    background-color: transparent;
    border-left: 0;
    cursor: pointer;
}

.input-group-text i {
    color: #6c757d;
    font-size: 1.2rem;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

/* --- Estilo para los mensajes de error en formularios --- */
.text-danger {
    font-weight: bold !important;
}

.btn-add-cart {
    background-color: #000 !important;  /* Negro */
    color: white !important;            /* Texto blanco */
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    transition: 0.3s ease;
    display: inline-block;
}

.btn-add-cart:hover {
    background-color: #333 !important;  /* Negro más claro */
    color: #fff !important;
    transform: scale(1.03);
}
