{% extends 'admin/baseAdmin.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-white">Historial de Pagos</h2>
    {% if pagos %}
    <table class="table table-bordered table-striped bg-white">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Monto</th>
                <th>Fecha</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for pago in pagos %}
            <tr>
                <td>{{ pago.cliente.nombre_cliente }}</td>
                <td>${{ pago.monto }}</td>
                <td>{{ pago.fecha_compra }}</td>
                <td>{{ pago.estado }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="text-light">No hay pagos registrados.</p>
    {% endif %}
</div>
{% endblock %}

