{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'custom_admin/css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/5d549a9b1e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2 sidebar p-3 bg-dark text-white">
                <div class="text-center mb-4">
                    <img src="{% static 'images/logo.png' %}" alt="Logo" class="img-fluid" style="width: 120px;" />
                    <h4 class="mt-2">MotoAutodast</h4>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="{% url 'dashboard' %}" class="nav-link d-flex align-items-center">
                            <i class="fa-solid fa-house me-2" style="font-size: 1.5em; color: #ffffff;"></i> 
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="{% url 'listar_productos' %}" class="nav-link d-flex align-items-center">
                            <i class="fa-solid fa-box me-2" style="font-size: 1.5em; color: #ffffff;"></i> 
                            <span>Productos</span>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link d-flex align-items-center">
                            <i class="fa-solid fa-file-invoice-dollar me-2" style="font-size: 1.5em; color: #ffffff;"></i> 
                            <span>Pagos</span>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link d-flex align-items-center">
                            <i class="fa-solid fa-cogs me-2" style="font-size: 1.5em; color: #ffffff;"></i> 
                            <span>Ajustes</span>
                        </a>
                    </li>
                </ul>
                <form action="{% url 'admin_logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger w-100 mt-auto">Cerrar sesión</button>
                </form>                 
            </nav>

            <!-- Main Content -->
            <main class="col-md-10 p-4">
                <div class="container">
                <h1 class="mb-4 tcolor">Productos</h1>

                <!-- Iconos e Input -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div>
                        <a href="{% url 'agregar_producto' %}" class="btn btn-danger me-2 tcolor">
                            <i class="fa-solid fa-plus"></i> Agregar
                        </a>
                    </div>
                    <div class="input-group" style="width: 300px;">
                        <input type="text" id="searchInput" class="form-control" placeholder="Buscar producto...">
                        <button class="btn btn-outline-secondary">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>

                <!-- Tabla con barra de desplazamiento -->
                <div style="max-height: 700px; overflow-y: auto; border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
                    <table class="table table-striped" id="productTable" style="height: 100%px;">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Stock</th>
                                <th>Categoría</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in productos %}
                            <tr>
                                <td>{{ producto.id }}</td>
                                <td>{{ producto.nombre_producto }}</td>
                                <td>{{ producto.descripcion }}</td>
                                <td>{{ producto.stock }}</td>
                                <td>{{ producto.categoria.nombre_categoria }}</td>
                                <td>
                                    <div class="row gx-1">
                                        <div class="col-auto">
                                            <a href="{% url 'editar_producto' producto.id %}" class="btn btn-sm btn-warning">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </div>
                                        <div class="col-auto">
                                            <form action="{% url 'eliminar_producto' producto.id %}" method="post" style="display: inline;" onsubmit="return confirmDelete();">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No hay productos disponibles.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </main>
        </div>
    </div>

    <script>
        // Búsqueda en tiempo real
        document.getElementById('searchInput').addEventListener('keyup', function() {
            const searchValue = this.value.toLowerCase(); // Obtener el valor de búsqueda
            const rows = document.querySelectorAll('#productTable tbody tr'); // Obtener las filas de la tabla

            rows.forEach(row => {
                const rowText = row.textContent.toLowerCase(); // Convertir el texto de la fila a minúsculas
                row.style.display = rowText.includes(searchValue) ? '' : 'none'; // Mostrar/ocultar según la búsqueda
            });
        });

        // Función de confirmación para eliminación
        function confirmDelete() {
            return confirm("¿Estás seguro de que deseas eliminar este producto?");
        }
    </script>
</body>
</html>
