/* base.css */

body {
    background-color: #f4f4f9;
}

.sidebar {
    height: 100vh;
    background: linear-gradient(to bottom, #c50000, #8b0000);
    color: white;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a:hover {
    background-color: #8b0000;
    border-radius: 5px;
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
