body {
    background-color: #f4f4f9;
    margin: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 240px;
    background: linear-gradient(to bottom, #c50000, #740000);
    color: white;
    padding: 20px 10px;
    overflow-y: auto;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px 15px;
    margin: 5px 0;
}

.sidebar a:hover {
    background-color: #8b0000;
    color: #cccccc; /* Cambia el color del texto a gris claro */
    border-radius: 5px;
}

.container-fluid {
    margin-left: 260px; /* Ajusta este margen para evitar sobreposición */
    padding: 20px;
}

main {
    margin-left: 320px;
}

.tcolor{
    background: linear-gradient(to bottom, #c50000, #740000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
