{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container my-5">
        <div class="row">
            <!-- Columna de Imagen del Producto -->
            <div class="col-md-4 text-center">
                {% if producto.imagen %}
                    <img src="{{ producto.imagen.url }}" class="img-fluid" alt="{{ producto.nombre_producto }}">
                {% else %}
                    <img src="{% static 'images/placeholder.png' %}" class="img-fluid" alt="Imagen no disponible">
                {% endif %}
            </div>

            <!-- Columna de Detalles del Producto -->
            <div class="col-md-8">
                <h2 class="fw-bold">{{ producto.nombre_producto }}</h2>
                
                <p class="text-success fw-bold">EN STOCK</p>
                <h3 class="text-dark mb-4">${{ producto.costo|floatformat:0 }}</h3>
                
                <h5 class="fw-bold">DESCRIPCIÓN:</h5>
                <p>{{ producto.descripcion }}</p>
                
                <h5 class="fw-bold">ESPECIFICACIONES:</h5>
                <ul>
                    <li><strong>Aplicación:</strong> Lubricantes para motor</li>
                    <li><strong>Tipo de Motor:</strong> 4 Tiempos</li>
                    <li><strong>Tipo de Producto:</strong> Scooter</li>
                    <li><strong>Calidad:</strong> Tecnosíntesis</li>
                    <li><strong>Gama de Productos:</strong> Motocicleta</li>
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}
